:root{
	--bg: #F4F4F5;
	--accent: #5558FA;
	--text: #333333;
	--blackAlpha: #00000029;
	--blackAlpha2: #0000000A;
	--blackAlpha3: #0000007A;
	--blackAlpha4: #0000003D;
	--grey: #CCCCCC;
	--bg2: #D5E4F7;
	--bg3: #A6A6A6;
	--bg4: #fff;
	--text2: #666666:
}